[submodule "pcbs/GPS"]
	path = pcbs/GPS
	url = https://github.com/nerdyscout/ProMicro_GPS.git
[submodule "pcbs/LIPO"]
	path = pcbs/LIPO
	url = https://github.com/nerdyscout/ProMicro_LIPO.git
[submodule "pcbs/CONN"]
	path = pcbs/CONN
	url = https://github.com/nerdyscout/ProMicro_CONN.git
[submodule "pcbs/UART"]
	path = pcbs/UART
	url = https://github.com/nerdyscout/ProMicro_UART.git
[submodule "pcbs/LOG"]
	path = pcbs/LOG
	url = https://github.com/nerdyscout/ProMicro_LOG.git
