kibot:
  version: 1

preflight:
  update_xml: true
  run_erc: true
  run_drc: true
  check_zone_fills: true
  ignore_unconnected: false
  filters:
    - filter_msg: 'Pad too close to pad'
      error_number: 19
      regexp:  'Pad of H1 on All copper layers'
    - filter_msg: 'Footprint has no courtyard defined'
      error_number: 46
      regexp:  'Footprint LOGO'
    - filter_msg: 'Track too close to pad'
      error_number: 4
      regexp:  'Pad'

variants:
  - name: 'GPS'
    type: kibom
    file_id: _GPS
    variant: GPS
  - name: 'GYRO'
    type: kibom
    file_id: _GYRO
    variant: GYRO

outputs:
  - name: "GBR"
    comment: "gerbers"
    type: "gerber"
    dir: 'gerbers'
    layers:
      - 'all'
    options:
      # generic layer options
      exclude_edge_layer: false
      exclude_pads_from_silkscreen: false
      use_aux_axis_as_origin: true
      plot_sheet_reference: false
      plot_footprint_refs: true
      plot_footprint_values: false
      force_plot_invisible_refs_vals: false
      tent_vias: true
      # gerber options
      line_width: 0.15
      subtract_mask_from_silk: true
      use_protel_extensions: false
      gerber_precision: 4.5
      create_gerber_job_file: false
      use_gerber_x2_attributes: true
      use_gerber_net_attributes: false

  - name: "GBR"
    comment: "Gerber drill"
    type: "gerb_drill"
    dir: "gerbers"
    options:
      use_aux_axis_as_origin: true
      output: '%f-%i.%x'

  - name: "DRL"
    comment: "Excellon drill"
    type: "excellon"
    dir: "gerbers"
    options:
      use_aux_axis_as_origin: true
      metric_units: true
      pth_and_npth_single_file: false
      minimal_header: true
      mirror_y_axis: false
      output: '%f-%i.%x'
      
  - name: "CSV"
    comment: "position"
    type: "position"
    dir: "gerbers"
    options:
      format: "CSV"
      units: "millimeters"
      separate_files_for_front_and_back: false
      only_smd: true

  # PcbDraw - Beautiful 2D PCB render:
  - name: 'SVG POS'
    comment: 'plot top'
    type: 'pcbdraw'
    dir: 'docs/img'
    options:
      # [boolean=false] render the bottom side of the board (default is top side)
      bottom: false
      # [boolean=false] mirror the board
      mirror: false
      # [number=300] [10,1200] dots per inch (resolution) of the generated image
      dpi: 300
      # [string='svg'] [svg,png,jpg] output format. Only used if no `output` is specified
      format: 'svg'
      # [list(string)] list of libraries
      libs: ['/opt/pcbdraw/lib']
      # [string='%f-%i.%x'] name for the generated file . Affected by global options
      output: '%f-Board_%i.%x'
      # [string|dict] PCB style (colors). An internal name, the name of a JSON file or the style options
      style: '/usr/share/pcbdraw/styles/jlcpcb-green-enig.json'
      # [string='visible'] [visible,all,none] using visible only the warnings about components in the visible side are generated
      warnings: 'none'

  # PcbDraw - Beautiful 2D PCB render:
  - name: 'SVG POS'
    comment: 'plot bottom'
    type: 'pcbdraw'
    dir: 'docs/img'
    options:
      # [boolean=false] render the bottom side of the board (default is top side)
      bottom: true
      # [boolean=false] mirror the board
      mirror: false
      # [number=300] [10,1200] dots per inch (resolution) of the generated image
      dpi: 300
      # [string='svg'] [svg,png,jpg] output format. Only used if no `output` is specified
      format: 'svg'
      # [list(string)] list of libraries
      libs: ['/opt/pcbdraw/lib']
      # [string='%f-%i.%x'] name for the generated file . Affected by global options
      output: '%f-Board_%i.%x'
      # [string|dict] PCB style (colors). An internal name, the name of a JSON file or the style options
      style: '/usr/share/pcbdraw/styles/jlcpcb-green-enig.json'
      # [string='visible'] [visible,all,none] using visible only the warnings about components in the visible side are generated
      warnings: 'none'

  - name: 'PDF GPS'
    comment: "Schematic"
    type: pdf_sch_print
    dir: docs
    options:
      output: 'ProMicro_GPS-Schematic.%x'
      variant: 'GPS'

  - name: 'PDF GYRO'
    comment: "Schematic"
    type: pdf_sch_print
    dir: docs
    options:
      output: 'ProMicro_GYRO-Schematic.%x'
      variant: 'GYRO'
  
  - name: 'SVG GPS'
    comment: "Schematic"
    type: svg_sch_print
    dir: docs
    options:
      output: 'ProMicro_GPS-Schematic.%x'
      variant: 'GPS'

  - name: 'SVG GYRO'
    comment: "Schematic"
    type: svg_sch_print
    dir: docs
    options:
      output: 'ProMicro_GYRO-Schematic.%x'
      variant: 'GYRO'
        
  - name: 'PDF POS'
    comment: "Board: top"
    type: pdf_pcb_print
    layers:
      - 'user'
      - layer: F.CrtYd
      - layer: F.Fab
    dir: docs
    options:
      output: '%p-Board_top.%x'

  - name: 'PDF POS'
    comment: "Board: bottom"
    type: pdf_pcb_print
    layers:
      - layer: Edge.Cuts
      - layer: B.CrtYd
      - layer: B.Mask
      - layer: B.SilkS
      - layer: B.Fab
    dir: docs
    options:
      output: '%p-Board_bottom.%x'

  - name: 'HTML POS'
    comment: "BOM"
    type: 'ibom'
    dir: docs/bom
    options:
      dark_mode: false
      hide_pads: false
      show_fabrication: true
      hide_silkscreen: false    
      highlight_pin1: true
      no_redraw_on_drag: false
      board_rotation: 90
      checkboxes: 'Sourced,Placed'
      include_tracks: true
      include_nets: true
      sort_order: 'C,R,L,D,U,Y,X,F,SW,A,~,HS,CNN,J,P,NT,MH'
      blacklist: 'DNF*'
      no_blacklist_virtual: false
      blacklist_empty_val: true
#      extra_fields: 'EF'
      normalize_field_case: true
      dnp_field: 'DNP'
      name_format: ''
      output: '%f.%x'

  # KiBoM (KiCad Bill of Materials):
  # For more information: https://github.com/INTI-CMNB/KiBoM
  # This output is what you get from the 'Tools/Generate Bill of Materials' menu in eeschema.
  - name: 'CSV GPS'
    comment: 'BOM'
    type: 'kibom'
    dir: 'gerbers'
    options:
      conf:
        hide_pcb_info: true
        exclude_any:
          - column: Part
            regex: TestPoint
          - column: Part
            regex: LOGO
          - column: Part
            regex: Jumper
          - column: Value
            regex: Sparkfun_Pro_Micro
      # [string='HTML'] [HTML,CSV,XML,XLSX] format for the BoM
      format: 'CSV'
      # [number=1] Number of boards to build (components multiplier)
      number: 1
      # [string='%f-%i.%x'] filename for the output (%i=bom). Affected by global options
      output: 'ProMicro_GPS_BOM.%x'
      # [string=','] CSV Separator
      separator: ';'
      # Board variant(s), used to determine which components are output to the BoM
      variant: GPS

  # KiBoM (KiCad Bill of Materials):
  # For more information: https://github.com/INTI-CMNB/KiBoM
  # This output is what you get from the 'Tools/Generate Bill of Materials' menu in eeschema.
  - name: 'CSV GYRO'
    comment: 'BOM'
    type: 'kibom'
    dir: 'gerbers'
    options:
      conf:
        hide_pcb_info: true
        exclude_any:
          - column: Part
            regex: TestPoint
          - column: Part
            regex: LOGO
          - column: Part
            regex: Jumper
          - column: Value
            regex: Sparkfun_Pro_Micro
      # [string='HTML'] [HTML,CSV,XML,XLSX] format for the BoM
      format: 'CSV'
      # [number=1] Number of boards to build (components multiplier)
      number: 1
      # [string='%f-%i.%x'] filename for the output (%i=bom). Affected by global options
      output: 'ProMicro_GYRO_BOM.%x'
      # [string=','] CSV Separator
      separator: ';'
      # Board variant(s), used to determine which components are output to the BoM
      variant: GYRO

#  - name: Step
#    comment: "Generate 3D model (STEP)"
#    type: step
#    dir: docs/CAD
#    options:
#      dnf_filter: ''
#      metric_units: true
#      origin: grid         # "grid" or "drill" o "X,Y" i.e. 3.2,-10
#      no_virtual: true     # exclude 3D models for components with 'virtual' attribute
#      output: '%f.%x'
